@font-face {
    font-family: Grotesk;
    src: url("../../fonts/Grotesk.ttf");
}

.portfolio-section-1-shell {
    display: flex;
    flex-direction: row;
    margin-bottom: 1em;
    font-family: Grotesk;
    background-image: url(rings_background.svg);
}

.portfolio-section-1-container-left {
    flex: 1;
    justify-content: space-between;
    position: relative;
    padding: 1em;
    text-align: center;
}

.portfolio-section-1-image {
    margin-top: -5em;
}

.text-image {
    max-width: 110%;
    height: auto;
    /* Maintain aspect ratio */
}

.portfolio-section-1-image h2 {
    margin-top: -2em;
    font-size: 2em;
}

.portfolio-section-1-image p {
    font-size: 1.2em;
}

.portfolio-section-1-container-right {
    flex: 1;
    background-image: url('portfolio_section_background.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

@media (max-width: 768px) {
    .portfolio-section-1-shell {
        flex-direction: column;
    }

    .portfolio-section-1-container-left,
    .portfolio-section-1-container-right {
        flex-basis: 100%;
        padding: 0.5em;
    }

    .portfolio-section-1-image,
    .portfolio-section-1-image h2,
    .portfolio-section-1-image p {
        margin-top: 0.5em;
    }

    .portfolio-section-1-image p {
        font-size: 1em;
    }

    .portfolio-section-1-container-right {
        background-size: contain;
        /* Adjust background size to fit the container */
    }

    .text-image {
        max-width: 100%;
        /* Ensure image does not overflow its container */
    }
}

/* Additional breakpoint for larger phones or small tablets */
@media (max-width: 992px) {

    .portfolio-section-1-container-left,
    .portfolio-section-1-container-right {
        padding: 1em;
        /* Increase padding slightly for larger phones */
    }

    .portfolio-section-1-image h2 {
        font-size: 1.5em;
        /* Adjust font size for larger phones */
    }

    .portfolio-section-1-image p {
        font-size: 1.1em;
        /* Slightly reduce font size */
    }
}