@font-face {
    font-family: Grotesk;
    src: url("../../fonts/Grotesk.ttf");
}

.intro_shell {
    background-image: url('background.svg');
    background-size: cover;
    background-position: center;
}

.intro_container {
    padding: 5rem;
    display: flex;
    gap: 2rem;
    flex-wrap: wrap;
    /* Allows wrapping on smaller screens */
    align-items: center;
    /* Aligns children vertically */
}


.intro_body {
    flex: 1;
    /* Flex grow to take available space */
    text-align: left;
    font-weight: 600;
}

.naman {
    font-size: 6.5em;
    margin-bottom: 10em;

    /* Remove default margin */
}

.intro_text {
    font-size: 1.4rem;
    color: white;
    font-family: Grotesk;
    margin-top: 3rem;
}

.profile_pic_1 {
    max-width: 40%;
    align-self: flex-start;
    margin-top: -5em;
}

.body_icon1,
.body_icon2,
.body_icon3 {
    width: 20%;
    position: static;
    /* Change to static on small screens */
}

/* Specific adjustments for medium screens */
@media (max-width: 1024px) {
    .intro_container {
        flex-direction: column;
        /* Stack elements vertically */
        padding: 2rem;
    }

    .profile_pic_1 {
        max-width: 60%;
        /* Increase size proportionally */
        margin: auto;
        /* Center align the image */
    }

    .naman {
        font-size: 4rem;
        /* Adjust font size */
    }

    .body_icon1,
    .body_icon2,
    .body_icon3 {
        width: 30%;
        /* Increase icon size for visibility */
    }
}

/* Adjustments for very small screens */
@media (max-width: 768px) {
    .intro_text {
        font-size: 1.2rem;
        /* Smaller font size for readability */
    }

    .body_icon1,
    .body_icon2,
    .body_icon3 {
        width: 50%;
        /* Larger touch targets for mobile */
    }
}