@font-face {
    font-family: Grotesk;
    src: url("../../fonts/Grotesk.ttf");
}

.intro_shell {
    background-image: url('background.svg');
    background-size: cover;
    background-position: center;
}

.intro_container {
    margin:0 1em 0em 1em ;
    padding: 2.5rem;
    display: flex;
    flex-wrap: wrap;
    /* Allows wrapping on smaller screens */
    align-items: center;
    /* Aligns children vertically */
}


.intro_body {
    display: flex;
    flex-direction: column;
    flex-basis: 50%;
    text-align: left;
    font-weight: 600;
    justify-content: space-between;
}

.naman {
    font-size: 6.5em;
}

.intro_text {
    font-size: 1.4rem;
    color: white;
    font-family: Grotesk;
}

.profile_pic_1 {
    max-width: 40%;
    align-self: center;
    margin-left: 4em;
}

.body_icon1{
    width: 50%;
    position: relative;
    /* Change to static on small screens */
}

.body_icon2,
.body_icon3{
    position: absolute;
}

.body_icon2{
    margin-top: -30rem;
    margin-left: 40rem;
    width: 20%;
}
.body_icon3 {
    margin-top: -25rem;
    margin-left: 75rem;
    width: 20%;
}

.body_icon1:hover,.body_icon3:hover {
    transform: translateY(-5px);
}
/* Specific adjustments for medium screens */
@media (max-width: 1024px) {
    .intro_shell{
        background-image: none;
    }
    .intro_container {
        flex-direction: column;
        /* Stack elements vertically */
        padding: 2rem;
    }
    .intro_text{
        color: black;
    }

    .profile_pic_1 {
        max-width: 60%;
        /* Increase size proportionally */
        margin: auto;
        /* Center align the image */
    }

    .naman {
        font-size: 4rem;
        /* Adjust font size */
    }

    .body_icon1
    {
        width: 50%;
        /* Increase icon size for visibility */
    }
    .body_icon2,
    .body_icon3{
        display: none;
    }
}

/*  */