@font-face {
    font-family: Grotesk;
    src: url("../../fonts/Grotesk.ttf");
}

.intro_shell {
    background-image: url('background.svg');
    background-size: cover;
    background-position: center;
}

.intro_container {
    margin:0 1em 1em 1em ;
    padding: 2.5rem;
    display: flex;
    flex-wrap: wrap;
    /* Allows wrapping on smaller screens */
    align-items: center;
    /* Aligns children vertically */
}


.intro_body {
    display: flex;
    flex-direction: column;
    flex-basis: 50%;
    text-align: left;
    font-weight: 600;
    justify-content: space-between;
}

.naman {
    font-size: 6.5em;
}

.intro_text {
    font-size: 1.4rem;
    color: white;
    font-family: Grotesk;
    text-shadow: 0 0 4px #0D221B;
}

.profile_pic_1 {
    max-width: 40%;
    align-self: center;
    margin-left: 4em;
}

.body_icon1,
.body_icon2,
.body_icon3 {
    width: 50%;
    position: relative;
    /* Change to static on small screens */
}

/* Specific adjustments for medium screens */
@media (max-width: 1024px) {
    .intro_container {
        flex-direction: column;
        /* Stack elements vertically */
        padding: 2rem;
    }

    .profile_pic_1 {
        max-width: 60%;
        /* Increase size proportionally */
        margin: auto;
        /* Center align the image */
    }

    .naman {
        font-size: 4rem;
        /* Adjust font size */
    }

    .body_icon1,
    .body_icon2,
    .body_icon3 {
        width: 30%;
        /* Increase icon size for visibility */
    }
}

/* Adjustments for very small screens */
@media (max-width: 768px) {
    .intro_text {
        font-size: 1.2rem;
        /* Smaller font size for readability */
    }

    .body_icon1,
    .body_icon2,
    .body_icon3 {
        display: none;
        /* Larger touch targets for mobile */
    }

    .intro_shell {
        margin-left: 0;
        background-image: url('background.svg');
        background-position: 0em -8em;
        background-size: cover;
        background-repeat: no-repeat;
    }
   
    .intro_text{
        color: whitesmoke;
    }
}