@font-face {
    font-family: Nickainley;
    src: url("../../fonts/Nickainley.ttf");
}

@font-face {
    font-family: Trochhi;
    src: url("../../fonts/Trocchi.ttf");
}
footer {
    margin-top: 0;
    /* background-image: #EB5E28; */
    background-image: url('banner.svg');
    padding: 1rem;
    text-align: center;
    font-size: 0.9rem;
    margin-top: 0;
    font-family: Trocchi;
    border-top: 3px solid #0D221B;
}

footer a {
    color: #0D221B;
    font-size: 1.6rem;
    text-shadow: 0px 0px 1px whitesmoke;
}

.footer__logo {
    font-size: 3.7rem;
    font-weight: 500;
    margin-bottom: 2rem;
    display: inline-block;
}

.permalinks {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
    margin: 0 auto 3rem;
    list-style: none;
    font-weight: bolder;
}

.footer__socials {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-bottom: 2rem;
}

.footer__socials a {
    background: #0D221B;
    color: white;
    padding: 0.8rem;
    border-radius: 0.7rem;
    display: flex;
    border: 1px solid transparent;
}

.footer__socials a:hover {
    background: transparent;
    color: var(--color-bg);
    border-color: var(--color-bg);
}

.footer__copyright {
    margin-bottom: 3rem;
    color: var(--color-bg);
    font-size: 1.5rem
}

@media screen and (max-width: 600px) {
    .permalinks {
        flex-direction: column;
        gap: 1.5rem;
    }

    .footer__socials {
        margin-bottom: 2.6rem;
    }
}