.navbar_shell {
    position: sticky;
    background-color: #FFFCF2;
    min-height: auto;
    box-shadow: 0px 0px 10px black;
    padding: 1rem;
    top: 0;
    margin: 0 0em 1em 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    z-index: 9999;
            /* Optimized for specific properties */
}

.navbar_test {
    position: sticky;
    background-color: whitesmoke;
    min-height: auto;
    box-shadow: 0px 0px 10px black;
    padding: 1rem;
    top: 0;
    margin: 0 0 10px 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    z-index: 9999;
    opacity: 0.9;
    transition: all 0.5s ease-in-out;
}

.main_logo {
    max-width: 8rem;
    transition: all 0.5s ease-in-out;
}


.navbar_buttons {
    display: flex;
    flex-direction: row;
    width: auto;
    justify-content: space-around;
    flex-wrap: wrap;
    transition: all 0.5s ease-in-out; }

.navbar_buttons_test {
    display: flex;
    flex-direction: row;
    height: auto;
    width: auto;
    justify-content: space-around;
    flex-wrap: wrap;
    transition: all 0.5s ease-in-out;}

.hambutton{
    display: none;
    transition: all 0.5s ease-in-out;
    background-color: transparent;
    border: none;
    cursor: pointer;
}


@media (max-width: 1370px) {
    .navbar_buttons_open {
        display: flex;
        flex-direction: column;
        transition: transform 0.5s ease-in-out;
        transform: translateY(0);
    }
    .navbar_buttons_close{
        display:none;
        transition: transform 0.5s ease-in-out;
        transform: translateY(-100%);   
    }

    .navbar_test {
        opacity: 0.95;
        transition: transform 0.5s ease-in-out;
    }

    .hambutton {
        display: flex;
        font-size: 4rem;
        transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
    }

    .main_logo {
        max-width: 6rem;
    }

}