.body {
    margin-top: 30px;
    margin-left: 50px;
}

.profile_picture {
    width: 420px;
    height: 450px;
    border-radius: 10%;
    margin-top: 50px;
}

.name_logo {
    width: 325px;
    margin-left: -120px;
    margin-top: -90px;
}

.about_me {
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    margin-top: 200px;
    margin-right: 100px;
    color: #F54703;
    text-shadow: 0px 0px 5px gray;
    font-weight: 800;
}

.about__cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
}

.about__card {
    background: var(--color-bg-variant);
    border: 1px solid transparent;
    border-radius: 1rem;
    padding: 2rem;
    text-align: center;
    transition: var(--transition);
}

.about__card:hover {
    background: transparent;
    border-color: var(--color-primary-variant);
    cursor: default;
}

.about__icon {
    color: var(--color-primary);
    font-size: 1.5rem;
    margin-bottom: 1rem;
}
