/* SCSS HEX
$floral-white: #fffcf2ff;
$timberwolf: #ccc5b9ff;
$black-olive: #403d39ff;
$eerie-black: #252422ff;
$flame: #eb5e28ff; */


@font-face {
    font-family: Nickainley;
    src: url("../fonts/Nickainley.ttf");
}

@font-face {
    font-family: Trochhi;
    src: url("../fonts/Trocchi.ttf");
}

.body {
    margin-top: auto;
    margin-left: 0;
    margin-bottom: auto;
    background-color: #CCC5B9;
    position: relative;

}

.profile_picture {
    width: 420px;
    height: 450px;
    border-radius: 10%;
    margin-top: 60px;
    margin-left: 30px;
}

.name_logo {
    width: 325px;
    margin-left: -125px;
    margin-top: -12px;
}

.about_me {
    margin-bottom: auto;
    text-align: center;
    margin-top: 40px;
    margin-right: 100px;
    color: #F54703;
    text-shadow: 1px 1px 2px gray;
    font-weight: 800;
    font-size: 1.7rem;
    font-family: Trocchi;
    
}

.talk_body_button{
    font-family: Nickainley;
    font-size: 2rem;
    margin-top: 30px;
    margin-left: -120px;
    margin-bottom: 0;
    text-align: center;
}

.about__cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
    margin-top: 70px;
    padding: 10px;
    margin-right: 30px;
}

.about__card {
    border: 1px solid black;
    border-radius: 1rem;
    padding: 1.7rem;
    text-align: center;
    transition:0.3s;
    background: #403D39;
}

.about__card:hover {
    background: #F54703;
    border-color: black;
    cursor: default;

}

.about__icon {
    color: #F54703;
    font-size: 3rem;
    margin-bottom: 0.2rem;
}

.about__card:hover .about__icon {
    color: black;
    font-size: 3rem;
    margin-bottom: 0.2rem;

}

.about__card h5 {
    font-family: Nickainley;
    font-size: 2rem;
    color: #F54703;
    text-shadow: 0px 0px 3px black;

}

.about__card:hover h5{
    color: black;
    text-shadow: 0px 0px 3px whitesmoke;
}

.about__card small {
    font-size: 1.3rem;
    color: #F54703;
    text-shadow: 0px 0px 3px black;
}
.about__card:hover small {
    color: black;
    text-shadow: 0px 0px 3px whitesmoke;
}

.about__content p {
    margin: 2rem 0 2.6rem;
    color: black;
}

@media screen and (max-width: 1024px) {
    .about__content {
        grid-template-columns: 1fr;
        gap: 0;
    }

    .about__me {
        width: 50%;
        margin: 2rem auto 4rem;
    }

    .about__content p {
        margin: 1rem 0 1.5rem;
    }
}

@media screen and (max-width: 600px) {
    .about__me {
        width: 65%;
        margin: 0rem auto 3rem;
    }

    .about__cards {
        grid-template-columns: 1fr 1fr;
        gap: 1rem;
    }

    .about__content {
        text-align: center;
    }

    .about__content p {
        margin: 1.5rem 0;
    }
}