@font-face {
    font-family: Grotesk;
    src: url("../fonts/Grotesk.ttf");
}
/* .intro_shell{
    display: flex;
    justify-content:space-around;
    margin: 2.5em 0 0 0;
    padding: 2em;
    background-image: url('background.svg');
    background-size:cover;
    background-position: center;
    max-height: 800px;
    font-family: Grotesk;
    flex-wrap:wrap;
} */

.intro_shell{
        background-image: url('background.svg');
        background-size: cover;
        background-position: center;
}

.intro_container{
    margin-right: 2em;
    margin-left: 2em;
    padding: 5rem;
    display: flex;
    gap: 2rem;
}

.intro_body{
    padding: auto;
    text-align: left;
    font-weight: 600;
}

.naman{
    font-size: 6.5em;
}

.intro_text{
    margin-top: 10rem;
    font-size: 1.4rem;
    color: white;
    font-family: Grotesk;
}

.profile_pic_1{
    max-width: 40%;
    margin-top: -70px;
    left: 50px;
}

.body_icon1, .body_icon2, .body_icon3{
    position: absolute;
    width: 20%;
}

.body_icon1{
    top:470px;
    left: 100px;
    animation: 3s linear 0s infinite alternate sun-rise;
}

.body_icon2{
    top: 400px;
    left: 600px;
}

.body_icon3{
    right:30px;
    top: 400px;
}
.body_icon1:hover, .body_icon3:hover{
    height: auto;
    width: 21%;
}


@keyframes sun-rise {
    from {
        transform: translateX(5vh);
    }

    to {
        transform: translateX(0);
    }
}

@media (max-width: 1370px) {
    .body_icon1, .body_icon2, .body_icon3 {
            display: none;
        }
    
    .naman {
        font-size: 4rem;
        padding: 0%;
    }
    
}    
