@font-face {
    font-family: Trochhi;
    src: url("../fonts/Trocchi.ttf");
}

.introduction_shell{
    min-height: 500px;
    background-color: white;
    margin: 70px 0px 0px 0px;
    padding: 40px;
    display: flex;
    background-color: #FFFCF2;
}

.introduction_left_box{
    display: flex;
    min-width: 40%;
    justify-content: space-around;
    padding: auto;
    margin-top: -10px;
}

.profile_pic{
    height: 400px;
    border-radius: 10%;
}

.name_logo{
    height: 320px;
    margin-top: -14%;
    margin-left: -18%;
}

.introduction_right_box{
    max-width: 55%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-wrap: wrap;
    column-gap: 5%;
    margin-top: -20px;
}
.infographic_box_left {
    width: 250px;
    height: 250px;
    border: 1px black solid;
    padding: 1.7rem;
    color: #F54703;
    background:#403d39ff;
    border-radius: 10%;
    text-shadow: 0px 0px 10px black;
}

.award_icon{
    font-size: 4rem;
}

.introduction_right_box h5{
    font-size: 1.7rem;
}

.introduction_right_box p {
    font-size: 1.3rem;
}

.infographic_box_right {
    width: 250px;
    height: 250px;
    border: 1px black solid;
    padding: 1.7rem;
    color: #F54703;
    background: #403d39ff;
    border-radius: 10%;
    text-shadow: 0px 0px 10px black;
    justify-content: space-around;
}

.folder_icon {
    font-size: 4rem;
}

.infographic_box_left:hover {
    background: #F54703;
    color: #403d39ff;
    text-shadow: 0px 0px 2px white;
}

.infographic_box_right:hover {
    background: #F54703;
    color: #403d39ff;
    text-shadow: 0px 0px 2px white;
}

.about_me1{
    color: black;
    font-family: Trochhi;
    font-size: 1.4rem;
    text-shadow: 1px 1px 1px #F54703;
    margin-left: -80px;
}

