.navbar_shell{
    background-color: #FFFCF2;
    min-height: auto;
    box-shadow: 0px 0px 10px black;
    position: relative;
    padding: 20px;
    margin: 0 0 15px 0; 
    position: relative; 
    
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.main_logo{
    height: 150px;
    width: 150px;
}

.navbar_buttons{
    display: flex;
    flex-direction: row;
    height: auto;
    width: auto;
    justify-content: space-around;

}
.navbar_buttons nav_button_homepage {
    height: 200px;
    width: 200px;
}

.navbar_button_homepage > svg{
    filter: contrast(50%);
}