.navbar_shell{
    position: sticky;
    background-color: #FFFCF2;
    min-height: auto;
    box-shadow: 0px 0px 10px black;
    padding: 1rem;
    top: 0;
    margin: 0 0em 1em 0;     
    display: flex;
    justify-content: space-around;
    align-items: center;
    z-index: 9999;
    transition: all 0.5s ease-in-out;
}

.navbar_test{
    position: sticky;
    background-color: whitesmoke;
    min-height: auto;
    box-shadow: 0px 0px 10px black;
    padding: 1rem;
    top: 0;
    margin: 0 0 10px 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    z-index: 9999;
    opacity: 0.9;
    transition: all 0.5s ease-in-out;
}

.main_logo{
    max-width: 8rem;
}

.main_logo_test{
    max-width: 8rem;
}

.navbar_buttons{
    display: flex;
    flex-direction: row;
    width: auto;
    justify-content: space-around;
    flex-wrap: wrap;
}

.navbar_buttons_test {
    display: flex;
    flex-direction: row;
    height: auto;
    width: auto;
    justify-content: space-around;
    flex-wrap: wrap;
}

@media (max-width: 1370px) {
    .navbar_buttons, .navbar_buttons_test{
        display: none;
    }

}
