

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} *

html {
  scroll-behavior: smooth;
  scroll-padding-top: 75px;
}



@media (min-width:1700px) {
  main .container {
    max-width: 100%;
    padding: 0 150px;
  }
}