@font-face {
    font-family: Grotesk;
    src: url("../../fonts/Grotesk.ttf");
}

.interests_shell {
    display: flex;
    flex-direction: row;
    margin-bottom: 1em;
    /* Default direction */
    font-family: Grotesk;
}

.interests_container_left {
    flex: 1;
    /* Allows the container to grow and shrink as needed */
    justify-content: space-between;
    position: relative;
    padding: 1em;
    text-align: center;
}

.interest_image {
    margin-top: -5em;
    /* Adjust or remove this for smaller screens if it causes overlap */
}



.interest_image h2 {
    margin-top: -4em;
    /* Adjust or remove this for smaller screens if it causes overlap */
}

.interest_image p {
    font-size: 1.2em;
    /* Consider making font size responsive */
}

.interests_container_right {
    flex: 1;
    /* Allows the container to grow and shrink as needed */
    background-image: url('interests_background.svg');
    background-repeat: no-repeat;
    background-size: 78rem;
    /* Changes from 80rem to cover to ensure full coverage */
    background-position: center;
}

/* Media Queries */
@media (max-width: 768px) {
    .interests_shell {
        flex-direction: column;
        /* Stack the containers vertically on smaller screens */
    }

    .interests_container_left,
    .interests_container_right {
        flex-basis: 100%;
        /* Each container takes full width of the screen */
        padding: 0.5em;
        /* Adjust padding for smaller screens */
    }

    .interest_image {
        margin-top: 1em;
        /* Less negative margin for better spacing */
    }

    .interest_image h2,
    .interest_image p {
        margin-top: 0.5em;
        /* Adjust spacing around the text */
    }

    .interest_image p {
        font-size: 1em;
        /* Smaller font size for better readability on smaller screens */
    }

    .interests_container_right {
        background-image: none;
        /* Changes to contain to see the whole image without cutting off */
    }
}